.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.panel-header{
  font-size:25pt;
  font-family:cambria;
   font-style: italic;
}

.panel-body {

  background-color:#D7F4F4;
  vertical-align:middle;
  padding-top:10px;

}

.panel2{

  margin:10px;
  border-style: solid;
  border-width: medium;
  border-color: black;
  background-color:#C2C6C6 

}

textarea{

  padding:10px;
  margin-top:10px;
}

img {
  padding-top:5px;
  width :210px;
  height:300px;
}

.horoscopetitle{

  font-size:20pt;
  font-family:cambria;
  font-style: italic;
  font-weight:bold;

}

.horoscopetitle{

  text-decoration: underline;
  font-size: 12pt;
  color:navy;

}

.horoscope{

 
  width:500px;

}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
